.ipsTabPane>.content{

left: 100px;
top:100px;
}
[class^="ipsIcon"], [class*=" ipsIcon"] {
    font-size: 24px;
}
.ipsWebFront {
    top: 26px;
    height:95%;
    background: #000000;
}
.ipsCategory > .container {
    border: 0 none;
    background: none transparent;
}
.ipsCategory > .container .childContainers, .ipsCategory>.container .extended>.media {
    border: 0 none;
    background: none transparent;
}
.ipsCategory > .container .childContainers > div {
    border: 0 none;
    overflow: visible;
}
.ipsWebFront .ipsContainer .content {
    overflow: hidden;
}
.ipsWebFront .ipsContainer .content.exclusive,
.ipsWebFront .ipsContainer .content .ipsContainer .content {
    overflow: auto;
}
.ipsSplitPane {
    overflow: hidden;
}
.ipsWebFront > .ipsContainer > .content.exclusive,
.ipsWebFront > .ipsContainer > .content > .ipsContainer > .content,
.ipsWebFront > .ipsContainer > .content > .ipsContainer > .ipsContainer > .content,
.ipsWebFront > .ipsContainer > .content > .ipsCategory > .ipsTabPane > .content.exclusive {
    margin-bottom: 26px; /* Korrektur zu unteren LCARS-Leiste */
}
.ipsSplitPane.border > .top, .ipsSplitPane.border > .left, .ipsSplitPane.border > .bottom, .ipsSplitPane.border > .right {
    border: 0 none;
}
.ipsCategory>.container .content .title, .ipsCategory > .container .content .visual {
    font-size: 22px;
}
.ipsWebFront:before, .ipsWebFront .ipsContainer .content .ipsContainer .navigation:before {
    content: "";
    display: block;
    background: url("src/Line.png") no-repeat;
    width: 100%;
    height: 26px;
    margin: -26px 6px -3px 0;
    background-color: #FF9900;
    background-position: 0 -31px;
}
.ipsWebFront .ipsContainer .content .ipsContainer .navigation:before {
    margin-top: 0;
    background: url("src/Line2.png") no-repeat;
    background-color: #FF9900;
    background-position: 0 -31px;
}
.ipsWebFront .ipsContainer .content .ipsContainer .content .ipsContainer .ipsContainer .navigation:before {
    background-image: none;
    background-color: transparent;
    height: 0;
}
.ipsWebFront:after {
    content: "";
    display: block;
    background: url("src/Line.png") no-repeat;
    width: 100%;
    height: 26px;
    margin: 0 6px 0 0;
    background-color: #FF9900;
    background-position: 0 0;
    position: absolute;
    bottom: 0;
}

.ipsTabPane > .navigation {
    height: 96%;
    background-image: none;
    background-color: #000000;
    border-bottom: 0;
    float: left;
}
.ipsWebFront div.ipsContainer div.content div.ipsContainer div.content div.ipsContainer div.ipsContainer div.navigation {
    width: 100px;
    float: left;
}
.ipsTabPane > .navigation > .scroll {
    height: 100%;
    padding: 0 0;
    overflow: visible;
}
.ipsWebFront > .ipsTabPane > .navigation > .scroll {
    overflow: hidden;
    background: none repeat scroll 0 0 #FF9900;
    width:87px;
}
.ipsTabPane > .navigation > .scroll {
    background: none repeat scroll 0 0 #FF9900;
    width:87px;
}
