.ipsTabPane>.content{

left:300px;
top:100px;
}
.ipsTabPane>.content.exclusive {
    top: 0;
    left: 0;
}


.ipsTabPane>.navigation {
   background-color: #242E42;
    width: 300px;
    height:100%
}
.ipsTabPane>.navigation>.widgets{
    margin-top: 10px;

}
.ipsTabPane>.navigation>.scrollLeft {
display: none;
}
.ipsTabPane>.navigation>.scrollRight {
display: none;
}


.ipsTabPane > .navigation > .sub {
    padding: 76px 31px;
}


.ipsTabPane>.navigation>.scroll {
    
    height: unset;
    
    color: white;
    overflow: hidden;
    padding: 56px 12px;
    margin-top: 100px;
    white-space: nowrap;
}
.ipsTabPane>.navigation>.scroll>.buttons {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    position: absolute;
    width: 95%;
    color: white;
    white-space: nowrap;
    
}
.ipsTabPane>.navigation>.scroll>.buttons>div {
    border-color: rgba(255,255,255,0.2);
    
    border-style: solid;
    border-width: 0 2 0 5px;
    display: block;
    color: white;
    font-size: 27px;
    height: 75px;
    
    line-height: 32px;
    margin: 0;
    opacity: 0.5;
    padding: 0 10px;
    }
    .ipsTabPane>.navigation>.widgets {
    margin-top: 10px;
    }
    .ipsTabPane>.navigation>.scroll>.buttons>div.active{
    border-left: 20px solid #157cd6;
     background-color: #212A3D;
    }

    .ipsTabPane>.navigation>.scroll>.buttons>div>.title{
     font-size: 27px;
    }
    .ipsTabPane>.navigation>.scroll>.buttons>div>.title{
      width: 73px;
    }
   div.ipsWebFront {
	color: white;
	background: #212A3D; /* Old browsers */
	/*background: -moz-radial-gradient(center, ellipse cover, #212A3D 0%, #e3e7eb 100%); /* FF3.6-15 */
	/*background: -webkit-radial-gradient(center, ellipse cover,#212A3D 0%,#e3e7eb 100%); /* Chrome10-25,Safari5.1-6 */
	/*background: radial-gradient(ellipse at center, #212A3D 0%,#e3e7eb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.ipsVariableProfile[ ~Switch] {

    color: red;
    
}


    
        
       